@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f0f13;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overscroll-behavior: none;
  /* Prevent bounce on Mac */
}

/* Force canvas visibility debug */
canvas {
  background-color: rgba(255, 255, 255, 0.05);
  /* Very subtle highlight */
  display: block;
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes level-zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  15% {
    opacity: 1;
    transform: scale(1);
  }

  65% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(10);
  }
}

@layer utilities {
  .animate-level-zoom {
    animation: level-zoom 2.5s ease-in-out forwards;
  }

  .animate-sequence {
    animation: sequence 1.25s ease-in-out both;
  }
}

@keyframes sequence {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  15% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}